/.cache
/.build*
/build

/include/nprpc_base.hpp
/include/nprpc_base.cpp
/include/nprpc_nameserver.hpp
/include/nprpc_node.hpp

/compile_commands.json

/perf.*
/report.txt
/cmake_test_discovery*
/hotspots_with_symbols.txt
/certs/out/*
/third_party/boost*
/third_party/openssl*

/node_modules
/crash_reports