[submodule "third_party/glaze"]
	path = third_party/glaze
	url = git@github.com:stephenberry/glaze.git
[submodule "third_party/msquic"]
	path = third_party/msquic
	url = git@github.com:microsoft/msquic.git
[submodule "third_party/ngtcp2"]
	path = third_party/ngtcp2
	url = git@github.com:nikitapn/ngtcp2.git
[submodule "third_party/nghttp3"]
	path = third_party/nghttp3
	url = git@github.com:nikitapn/nghttp3.git
[submodule "third_party/unordered_dense"]
	path = third_party/unordered_dense
	url = git@github.com:martinus/unordered_dense.git
[submodule "third_party/nghttp2"]
	path = third_party/nghttp2
	url = git@github.com:nikitapn/nghttp2.git
[submodule "third_party/boringssl"]
	path = third_party/boringssl
	url = https://boringssl.googlesource.com/boringssl
