[submodule "third_party/glaze"]
	path = third_party/glaze
	url = git@github.com:stephenberry/glaze.git
[submodule "third_party/msquic"]
	path = third_party/msquic
	url = https://github.com/microsoft/msquic.git
[submodule "third_party/ls-qpack"]
	path = third_party/ls-qpack
	url = https://github.com/nikitapn/ls-qpack.git
[submodule "third_party/msh3"]
	path = third_party/msh3
	url = https://github.com/nikitapn/msh3.git
[submodule "third_party/ngtcp2"]
	path = third_party/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
[submodule "third_party/nghttp3"]
	path = third_party/nghttp3
	url = https://github.com/ngtcp2/nghttp3.git
