.vscode/**
.vscode-test/**
src/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
**/.eslintrc*
**/eslint.config.*
setup.sh
ICON.md
*.vsix
node_modules/@types/**
node_modules/eslint/**
node_modules/@typescript-eslint/**
node_modules/typescript/**
node_modules/@vscode/**
